  /* ===========================
     Author: Bhargav Gandhi (BG)
     Description: airStyle.scss
     =========================== */

//Reset and dependencies
@import "normalize";
@import "print";

//Base Style
@import "base";

//Form Style
@import "form";

//main style
@import "main";

//AirMedia Styles
@import "mediaDesktop";

//Awesomplete Styles
@import "awesomplete";

/*IE10 viewport hack for Surface/desktop Windows 8 bug*/

@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
